.App {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header{
  background-color: black;
  color: white;
  text-align:left;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.open-output-action{
  position: absolute;
  top: 9px;
  right: 15px;
  color: #ffffff; 
  cursor: pointer;
  transition: color 0.3s ease; 
  font-size: 15px;
  font: menu;
}

.open-output-action:hover {
  color: #b6b6af;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.upload-sect{
  flex:1;
  padding: 20px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.upload-area{
  display: flex;
  flex-direction: row;
  height: 200px;
}

.upload-btn{
  height: 80%;
  width: 100%;
  background-color: white;
  border-style: dashed;
  border-width: 1px;
  cursor: pointer;
}

.uploader-label{
  margin-bottom: 10px;
}

.divider{
  text-align: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  font-style: normal;
  font-weight: normal;
}

.dropdown-btn{
  display: flex;
  width: 100%;
  cursor: pointer;
}

.dropdown-option {
  padding: 8px 10px;
  font-size: 13px;
  background-color: #fff;
  color: #333;
}

.dropdown-option:checked {
  background-color: #007bff;
  color: #fff;
}

.toggle-dimension {
  display: flex;
  align-items: center;
  margin: 10px;
}

.upload-label {
  font-size: 14px;
  margin-right: 10px;
}

input[type="radio"]:checked + .upload-label {
  color: #000000;
  font-weight: bold;
}

.footer-actions{
  position: absolute;
  bottom: 0px;
  right:0px;
  left: 0px;
  background-color: black;
  padding: 10px;
  justify-content: flex-end;
  display: flex;
}

.run-action{
  background-color: green;
  height: 40px;
  width: 100px;
  color: white;
  font-weight:500;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.running-action{
  background-color: red;
  height: 40px;
  width: 100px;
  color: white;
  font-weight:500;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor:not-allowed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

